<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css" rel="stylesheet">
    <link href="/styles.css?t=v{{ "now"|date('u') }}" rel="stylesheet" type="text/css">
    {% block stylesheets %}{% endblock %}
</head>
<body>

<main>
    {% block body %}
    {% endblock %}
</main>

<script src="/app.js?t=v{{ "now"|date('u') }}"></script>
{% block javascripts %}{% endblock %}
</body>
</html>
