body {
  background-color: #eee;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #333;
  padding: 40px 150px 150px 150px; }

header {
  font-size: 42px;
  color: #666;
  margin-bottom: 50px; }

a {
  text-decoration: none;
  color: #0072ff; }
  a:hover {
    color: #005da9; }

h1 {
  font-size: 32px; }

h2 {
  font-size: 28px; }

h3 {
  font-size: 24px; }

h4 {
  font-size: 20px; }

h5 {
  font-size: 16px; }

h6 {
  font-size: 12px; }

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 10px; }

nav {
  margin-bottom: 50px;
  background-color: #fff;
  border-radius: 5px;
  border: solid 1px #ccc;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden; }
  nav a {
    display: inline-block;
    padding: 10px 15px;
    border-right: solid 1px #ccc; }
    nav a:hover {
      background-color: #0072ff;
      box-shadow: 0 0 0 1px #0072ff;
      border-right: solid 1px #0072ff;
      color: #fff;
      position: relative;
      z-index: 3; }

.car {
  display: flex;
  margin-bottom: 10px;
  background-color: #fff;
  border-radius: 6px;
  border: solid 1px #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  overflow: hidden; }
  .car h3 strong {
    font-weight: 800;
    color: #cbaa00; }
  .car strong {
    font-weight: bold;
    color: #888; }
  .car > div:first-of-type {
    flex: 0 1 480px;
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    background-color: #333;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); }
  .car > div:last-of-type {
    flex: 0 1 calc(100% - 480px);
    min-height: 150px;
    padding: 15px 20px; }
    .car > div:last-of-type p {
      font-size: 12px;
      color: #666;
      display: block;
      margin-bottom: 20px;
      line-height: 20px;
      text-align: justify; }
  .car .car-info {
    display: flex;
    margin-bottom: 15px; }
    .car .car-info > span {
      font-size: 14px;
      display: inline-block;
      padding: 8px 12px;
      border: solid 1px #ddd;
      border-left: none; }
      .car .car-info > span:first-of-type {
        border-radius: 5px 0 0 5px;
        border-left: solid 1px #ddd; }
      .car .car-info > span:last-of-type {
        border-radius: 0 5px 5px 0; }

.car-photos {
  display: flex;
  flex-wrap: wrap; }
  .car-photos img {
    flex: 0 1 5%;
    height: 100px;
    border-radius: 5px;
    margin: 1px; }

input {
  display: block;
  width: 100%;
  background-color: #ddd;
  border-radius: 5px;
  border: none;
  padding: 12px 15px;
  outline: none;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); }

.car-pic {
  position: relative; }
  .car-pic > span {
    color: #fff;
    display: inline-block;
    font-size: 24px;
    background-color: #459700;
    padding: 14px;
    border-radius: 0 0 8px 0; }
    .car-pic > span.red {
      background-color: #AA3333; }

